<div class='table-responsive'>
  <!-- wachten tot adressen toekomen, async oplossing-->
  <table class='table'
         *ngIf='addresses && addresses.length'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Straat</th>
        <th>Nummer</th>
        <th>Stad</th>
        <th>Postcode</th>
      </tr>
    </thead>
    <tbody>
      <!-- address is een route van app.module
      address is de route, address.id is de parameter -->
      <tr *ngFor='let address of addresses' [routerLink]="['/address', address.id]" class="pointer">
        <td>{{ address.id }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.number }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.zipcode }}</td>
      </tr>
    </tbody>
  </table>
</div>
