<div class='card' *ngIf='driver'>
  <div class='card-header'>
    {{ pageTitle + ': ' + driver.naam + ' ' + driver.voornaam }}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Id:</div>
          <div class='col-md-8'>{{ driver.id }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Naam:</div>
          <div class='col-md-8'>{{ driver.naam }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Voornaam:</div>
          <div class='col-md-8'>{{ driver.voornaam }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Adres:</div>
          <div class='col-md-8'>{{ driver.adres.straat + ' '+ driver.adres.nummer + ', ' + driver.adres.postcode + ' ' + driver.adres.stad }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Geboortedatum:</div>
          <div class='col-md-8'>{{ driver.geboorteDatum | date:'dd/MM/yyyy' }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Rijksregisternummer:</div>
          <div class='col-md-8'>{{ driver.rijksRegisterNummer }}</div>
        </div>
        <div class='row'>
          <!-- vervangen door string representatie van het hele object? -->
          <div class='col-md-4'>Tankkaartnummer:</div>
          <div class='col-md-8'>{{ driver.tankkaart.kaartnummer }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Type rijbewijs:</div>
          <div class='col-md-8'>{{ getDriverLicenseViewValue(driver.typeRijbewijs) }}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Actief:</div>
          <div class='col-md-8'>
            <input type="checkbox" [checked]="driver.actief" class="notClickable">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary marginButton'
            [routerLink]="['/driveredit', driver.id]">
      <i class='fa fa-chevron-left'></i> Edit
    </button>
    <button class='btn btn-outline-secondary marginButton'
            (click)='deleteDriver(driver.id)'
            style='width: 80px'>
      <i class='fa fa-chevron-left'></i> Delete
    </button>
    <button class='btn btn-outline-secondary marginButton'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>
