<form [formGroup]="maintenanceForm" class="marginBottom">
  <div class="form-group">
    <label for="inputMaintenanceDate">Maintenance date</label>
    <input type="date" class="form-control" id="inputMaintenanceDate" formControlName="MaintenanceDate">

    <span class="text-danger"
          *ngIf="(maintenanceForm.controls.MaintenanceDate.touched || submitted) && maintenanceForm.controls.MaintenanceDate.errors?.required">
      Maintenance date is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputPrice">Price</label>
    <input type="number" class="form-control" id="inputPrice" formControlName="Price">

    <span class="text-danger"
          *ngIf="(maintenanceForm.controls.Price.touched || submitted) && maintenanceForm.controls.Price.errors?.required">
      Price is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputDealerName">Dealername</label>
    <input type="number" class="form-control" id="inputDealerName" formControlName="DealerName">

    <span class="text-danger"
          *ngIf="(maintenanceForm.controls.DealerName.touched || submitted) && maintenanceForm.controls.DealerName.errors?.required">
      Dealername is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputInvoiceDocumentPath">Upload invoice</label>
    <input type="text" class="form-control" id="inputInvoiceDocumentPath" formControlName="InvoiceDocumentPath">

    <span class="text-danger"
          *ngIf="(maintenanceForm.controls.InvoiceDocumentPath.touched || submitted) && maintenanceForm.controls.InvoiceDocumentPath.errors?.required">
      Invoice is required.
    </span>
  </div>

  <button type="submit" class="btn btn-primary" (click)="addMaintenance(maintenanceForm.value)">Submit</button>
  <button class='btn btn-primary marginLeft' (click)='onBack()'>Back</button>
</form>
