@page "/driverlist"

<h1 class="page-title">All drivers</h1>

<!-- Show loading while employee list is not loaded yet. Will be null as long as the data hasn't arrived. Will be detected automatically when the data changes from null -->
@if (Drivers == null)
{
    <p><em>Loading...</em></p>
}
else
{ 
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Driver ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Drivers)
        {
        <tr>
            <td></td>
            <td>@driver.Id</td>
            <td>@driver.Voornaam</td>
            <td>@driver.Naam</td>
            <td>
                <a href="@($"driverdetail/{driver.Id}")" class="btn btn-primary table-btn">Detail</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}