<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReadService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReadService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/WCFRead" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReadService" contract="WCFReadServices.IReadService"
                name="BasicHttpBinding_IReadService" />
            <endpoint address="net.tcp://localhost:2113/WCFRead" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReadService" contract="WCFReadServices.IReadService"
                name="NetTcpBinding_IReadService">
                <identity>
                    <userPrincipalName value="AzureAD\StefanEeckhoudt" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>