<form [formGroup]="fuelcardForm" class="marginBottom">
  <div class="form-group">
    <label for="inputCardNumber">Card Number</label>
    <input type="number" class="form-control" id="inputCardNumber" formControlName="CardNumber">

    <span class="text-danger"
          *ngIf="(fuelcardForm.controls.CardNumber.touched || submitted) && fuelcardForm.controls.CardNumber.errors?.required">
      Card number is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputPincode">Pincode</label>
    <input type="number" class="form-control" id="inputPincode" formControlName="Pincode">

    <span class="text-danger"
          *ngIf="(fuelcardForm.controls.Pincode.touched || submitted) && fuelcardForm.controls.Pincode.errors?.required">
      Pincode is required.
    </span>
  </div>
  <div class="form-group">
    <label for="selectAuthType">Auth type</label>
    <select id="selectAuthType" class="form-control" formControlName="AuthType">
      <option *ngFor="let type of enumAuthTypes | keyvalue" [ngValue]="type.key">{{ type.value }}</option>
    </select>

    <span class="text-danger"
          *ngIf="(fuelcardForm.controls.AuthType.touched || submitted) && fuelcardForm.controls.AuthType.errors?.required">
      Auth type is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputCardValidUntilDate">Valid until</label>
    <input type="date" class="form-control" id="inputCardValidUntilDate" formControlName="ValidUntilDate">

    <span class="text-danger"
          *ngIf="(fuelcardForm.controls.ValidUntilDate.touched || submitted) && fuelcardForm.controls.ValidUntilDate.errors?.required">
      Valid until date is required.
    </span>
  </div>
  <div class="form-group">
    <label for="inputOptions">Options</label>
    <input type="text" class="form-control" id="inputOptions" formControlName="Options">

    <span class="text-danger"
          *ngIf="(fuelcardForm.controls.Options.touched || submitted) && fuelcardForm.controls.Options.errors?.required">
      Options field is required.
    </span>
  </div>

  <button type="submit" class="btn btn-primary" (click)="addFuelcard(fuelcardForm.value)">Submit</button>
</form>
