<div class='table-responsive'>
  <table class='table'
         *ngIf='vehicles && vehicles.length'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Chassis nr</th>
        <th>Fuel type</th>
        <th>Vehicle type</th>
        <th>Mileage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let vehicle of vehicles' [routerLink]="['/vehicle', vehicle.id]" class="pointer">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.chassisNr }}</td>
        <td>{{ getFuelTypeViewValue(vehicle.fuelType) }}</td>
        <td>{{ getVehicleTypeViewValue(vehicle.vehicleType) }}</td>
        <td>{{ vehicle.mileage }}</td>
      </tr>
    </tbody>
  </table>
  <div class="nav-item marginBottomList" [routerLinkActive]="['link-active']">
    <a class="btn btn-primary" [routerLink]="['/vehicleadd']">Add vehicle</a>
  </div>
</div>
