  <div class='table-responsive'>
  <!-- wait until driver objects arrive, async solution -->
  <table class='table'
         *ngIf='drivers && drivers.length'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>First name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Social security number</th>
        <th>Fuelcard number</th>
        <th>Driver license type</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <!-- driver is een route van app.module
  driver is de route, driver.id is de parameter -->
      <tr *ngFor='let driver of drivers' [routerLink]="['/driver', driver.id]" class="pointer">
        <td>{{ driver.id }}</td>
        <td>{{ driver.name }}</td>
        <td>{{ driver.firstName }}</td>
        <td>{{ driver.email }}</td>
        <td>{{ driver.address.street + ' '+ driver.address.number + ', ' + driver.address.zipcode + ' ' + driver.address.city }}</td>
        <td>{{ driver.birthDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ driver.socSecNr }}</td>
        <!-- create fuelcard string representation or number enough? -->
        <td>{{ driver.fuelCard.cardNumber }}</td>
        <td>{{ getDriverLicenseViewValue(driver.driverLicenseType) }}</td>
        <td>
          <input type="checkbox" [checked]="driver.active" class="notClickable">
        </td>
      </tr>
    </tbody>
  </table>
</div>
