  <div class='table-responsive'>
  <!-- wachten tot drivers toekomen, async oplossing-->
  <table class='table'
         *ngIf='drivers && drivers.length'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Naam</th>
        <th>Voornaam</th>
        <th>Adres</th>
        <th>Geboortedatum</th>
        <th>Rijksregisternummer</th>
        <th>Tankkaartnummer</th>
        <th>Type rijbewijs</th>
        <th>Actief</th>
      </tr>
    </thead>
    <tbody>
      <!-- driver is een route van app.module
  driver is de route, driver.id is de parameter -->
      <tr *ngFor='let driver of drivers' [routerLink]="['/driver', driver.id]" class="pointer">
        <td>{{ driver.id }}</td>
        <td>{{ driver.naam }}</td>
        <td>{{ driver.voornaam }}</td>
        <td>{{ driver.adres.straat + ' '+ driver.adres.nummer + ', ' + driver.adres.postcode + ' ' + driver.adres.stad }}</td>
        <td>{{ driver.geboorteDatum | date:'dd/MM/yyyy' }}</td>
        <td>{{ driver.rijksRegisterNummer }}</td>
        <!-- tankkaart string representatie maken of tankkaartnummer genoeg? -->
        <td>{{ driver.tankkaart.kaartnummer }}</td>
        <td>{{ driver.typeRijbewijs }}</td>
        <td>
          <input type="checkbox" [checked]="driver.actief" class="notClickable">
        </td>
      </tr>
    </tbody>
  </table>
</div>
